/*All pages*/
a{
    text-decoration: none;
}

a:link, a:visited {
    color: #7A306C;
}

.active{
	background-color: rgb(238, 211, 148);
    font-weight: bold;
}

body{
    background: linear-gradient(0deg, rgba(224,110,174,1) 0%, rgba(255,211,115,1) 100%);
    padding-bottom: 50px;
    font-family: helvetica, sans-serif;
    font-size: 14px;
}

.description{
    grid-area: description;
    padding: 20px;
    background: white;
}

.gif{
    grid-area: gif;
    display: inline-block;
    width: 100%;
    height: auto;
}

h1{
    text-align: center;
    color: #7A306C;
}

main{
    margin: 5px;
}

.main-pic{
    grid-area: main-pic;
    display: inline-block;
    width: 100%;
    height: auto;
}

.margin{
    margin: 100px;
}

nav ul{
    list-style-type: none;
    display: flex;
    background: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
    border: 10px ridge #ffffff;
    color: #7A306C;
    width: 25%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
nav ul li:hover{
    background: rgb(230, 230, 230); 
}

.offpage{
    position: absolute;
    left: -1000px;
}

.offpage:focus{
    left: 10px;
    position: static!important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}

.photo-gallery{
    text-align: center;
    grid-area: photo-gallery;
    padding: 10px;
    align-self: center;
}

.photo-gallery img{
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 10px;
}

.topic-name{
    grid-area: topic-name;
    width: 50%;
    text-align: center;
    background: white;
    margin: 20px auto;
    padding: 10px;
}

.text1{
    grid-area: text1;
    padding: 20px;
    background: white;
}

.text2{
    grid-area: text2;
    padding: 10px;
    background: white;
}

/*Index page*/
.index-container {
    display: grid;
    padding: 10px;
}
  
.index-item {
    border: 1px solid black;
    padding: 10px;
}

.index-main{
    margin: 20px;
}

.music {
    text-align: center;
    margin: 20px;
}

#sunset {
    border: 10px ridge #ffffff;
    background-color: white;
    color: #7A306C;
    width: 50%;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    margin: auto;
    display: flex;
}

#sunset:hover{
    background: rgb(230, 230, 230); 
}

#sunset:active{
    transform: scale(0.90);
}

.sunset_body{
    background: rgba(224,110,174,1);
    padding-bottom: 50px;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    animation: sunset_bkg 10s infinite;
}

@keyframes sunset_bkg{
    0% {background: rgba(255,211,115,1)}
    20% {background: rgb(232, 148, 80)}
    45% {background: orange(255,211,115,1)}
    65% {background: rgba(224,110,174,1)}
    80% {background: pink(255,211,115,1)}
    100% {background: rgba(255,211,115,1)}
}

/*Pet page*/
.pet-grid-container{
    background: rgb(238, 211, 148);
    display: grid;
    border: 10px ridge white;
    grid-gap: 10px;
    padding: 15px;
    margin: 15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'topic-name'
        'main-pic'
        'text1'
        'description'
        'photo-gallery';
}

/*Recipe page*/
.recipe-grid-container{
    background: rgb(238, 211, 148);
    display: grid;
    border: 10px ridge white;
    grid-gap: 10px;
    padding: 15px;
    margin: 15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'topic-name'
        'main-pic'
        'description'
        'text1'
        'text2'
        'photo-gallery';
}

/*Travel page*/
.travel-grid-container{
    display: grid;
    background: rgb(238, 211, 148);
    border: 10px ridge white;
    grid-gap: 10px;
    padding: 15px;
    margin: 15px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'topic-name'
        'gif'
        'main-pic'
        'description'
        'photo-gallery';
}

.photo-gallery figure{
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 10px;
    
}

.photo-gallery figure img{
    width: 85%;
    height: auto;
    margin: 0;
}

/*Reduce Motion*/
@media (prefers-reduced-motion: reduce){
    .gif{
        display: none;
    }
}

/*Tablet View*/
@media only screen and (min-width: 600px){
    .photo-gallery img{
        width: 40%;
        height: auto;
        display: inline-block;
        margin: 10px;
    }

    /*Index page*/
    .index-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }
    
    .index-item {
        border: 1px solid black;
        padding: 10px;
    }

    .index-main{
        margin: 50px;
    }

    /*Pet page*/
    .pet-grid-container{
        background: rgb(238, 211, 148);
        display: grid;
        border: 10px ridge white;
        grid-gap: 10px;
        padding: 15px;
        margin: 15px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            'topic-name topic-name'
            'main-pic text1'
            'description description'
            'photo-gallery photo-gallery';
    }

    /*Recipe page*/
    .recipe-grid-container{
        background: rgb(238, 211, 148);
        display: grid;
        border: 10px ridge white;
        grid-gap: 10px;
        padding: 15px;
        margin: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'topic-name topic-name'
            'main-pic description'
            'text1 text2'
            'photo-gallery photo-gallery';
    }

    /*Travel page*/
    .travel-grid-container{
        display: grid;
        background: rgb(238, 211, 148);
        border: 10px ridge white;
        grid-gap: 10px;
        padding: 15px;
        margin: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'topic-name topic-name'
            'gif main-pic'
            'description description'
            'photo-gallery photo-gallery';
    }

    .photo-gallery figure{
        width: 45%;
        height: auto;
        display: inline-block;
        margin: 10px;
        
    }
    
    .photo-gallery figure img{
        width: 85%;
        height: auto;
        margin: 0;
    }
}

/*Desktop View*/
@media only screen and (min-width: 800px){
    /*Pet page*/
    .pet-grid-container{
        background: rgb(238, 211, 148);
        display: grid;
        border: 10px ridge white;
        grid-gap: 10px;
        padding: 15px;
        margin: 15px;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            'topic-name topic-name'
            'main-pic text1'
            'main-pic description'
            'photo-gallery photo-gallery';
    }

    /*Recipe page*/
    .recipe-grid-container{
        background: rgb(238, 211, 148);
        display: grid;
        border: 10px ridge white;
        grid-gap: 10px;
        padding: 15px;
        margin: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'topic-name topic-name'
            'main-pic description'
            'main-pic text1'
            'main-pic text2'
            'photo-gallery photo-gallery';
    }

    /*Travel page*/
    .travel-grid-container{
        display: grid;
        background: rgb(238, 211, 148);
        border: 10px ridge white;
        grid-gap: 10px;
        padding: 15px;
        margin: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'topic-name topic-name topic-name'
            'gif main-pic description'
            'photo-gallery photo-gallery photo-gallery';
    }
}