.index-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
  
.index-item {
    border: 1px solid black;
    padding: 10px;
}

h1{
    text-align: center;
    color: #7A306C;
}

nav ul{
    list-style-type: none;
    display: flex;
    background: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
    border: 10px ridge #ffffff;
    color: #7A306C;
    width: 25%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
nav ul li:hover{
    background: rgb(230, 230, 230); 
}

.offpage{
    position: absolute;
    left: -1000px;
}

.offpage:focus{
    left: 10px;
    position: static!important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}

.topic-name{
    grid-area: topic-name;
    width: 50%;
    text-align: center;
    background: white;
    margin: 20px auto;
    padding: 10px;
}

.description{
    grid-area: description;
    padding: 10px;
    background: white;
}

.photo-gallery{
    text-align: center;
    grid-area: photo-gallery;
    padding: 10px;
}

.photo-gallery img{
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 10px;
}

.photo-gallery figure{
    width: 30%;
    height: auto;
    display: inline-block;
    margin: 10px;
}

.photo-gallery figure img{
    width: 100%;
    height: auto;
    margin: 0;
}

.text1{
    grid-area: text1;
    padding: 10px;
    background: white;
}

.text2{
    grid-area: text2;
    padding: 10px;
    background: white;
}

.main-pic{
    grid-area: main-pic;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.gif{
    grid-area: gif;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.pet-grid-container{
    background: rgb(238, 211, 148);
    display: grid;
    border: 10px ridge white;
    grid-gap: 10px;
    padding: 15px;
    margin: 15px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        'topic-name topic-name'
        'main-pic text1'
        'description description'
        'photo-gallery photo-gallery';
}

.recipe-grid-container{
    background: rgb(238, 211, 148);
    display: grid;
    border: 10px ridge white;
    grid-gap: 10px;
    padding: 15px;
    margin: 15px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        'topic-name topic-name'
        'main-pic description'
        'text1 text2'
        'photo-gallery photo-gallery';
}

.travel-grid-container{
    display: grid;
    background: rgb(238, 211, 148);
    border: 10px ridge white;
    grid-gap: 10px;
    padding: 15px;
    margin: 15px;
    grid-template-columns: auto auto;
    grid-template-areas: 
        'topic-name topic-name'
        'gif main-pic'
        'description description'
        'photo-gallery photo-gallery';
}

.margin{
    margin: 100px;
}

.active{
	background: rgb(238, 211, 148);
    font-weight: bold;
}

@media (prefers-reduced-motion: reduce){
    .gif{
        display: none;
    }
}

body{
    background: rgb(224,110,174);
    background: linear-gradient(0deg, rgba(224,110,174,1) 0%, rgba(255,211,115,1) 100%);
    padding-bottom: 50px;
    font-family: helvetica, sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
}

a:link, a:visited {
    color: #7A306C;
}
